{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul class="menu">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}


<div id="header">
  <nav class="top-bar" id="main-nav">
    <div class="row column">
      <div class="top-bar-title">
        <a href="/"><img src="{{ url('theme://images/hafca-logo.png', true) }}" alt="Haight Ashbury &amp; Free Clinic Archives" class="show-for-medium" id="logo" /></a>
        <a href="/" class="site-title">{{ site.title }}</a>
        <span data-responsive-toggle="main-navigation" data-hide-for="medium">
          <span class="menu-icon dark float-right" data-toggle></span>
        </span>
      </div>
      <div id="main-navigation">
        <div class="top-bar-left">

        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            {% if theme_config.dropdown.enabled %}
                {{ _self.loop(pages) }}
            {% else %}
              {% for page in pages.children %}
              {% if page.visible %}
              {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
              <li class="top {{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            {% endif %}
            {% if config.plugins.simplesearch.enabled %}
            <li><a>Search</a>
              <ul class="menu">
                <li>
                  <div id="search">
                    {% include 'partials/simplesearch_searchbox.html.twig' %}
                  </div>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
